/* Icon icon/arrow-left from Figma UI kit - node-id: 287:4081 */

.icon-16-arrow-left {
  position: relative;
  width: 16px;
  height: 16px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-16-arrow-left-size {
  position: relative;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-16-arrow-left-svg {
  display: block;
  width: 16px;
  height: 16px;
  color: inherit;
}
