/* Icon icon/arrow-right from Figma UI kit - node-id: 287:4086 */

.icon-24-arrow-right {
  position: relative;
  width: 24px;
  height: 24px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-24-arrow-right-size {
  position: relative;
  width: 24px;
  height: 24px;
}

.icon-24-arrow-right-vector {
  position: absolute;
  inset: 20.83% 12.5%;
}

.icon-24-arrow-right-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
