/* Icon icon/pencil, edit from Figma UI kit - node-id: 287:4048 */

.icon-32-pencil {
  position: relative;
  width: 32px;
  height: 32px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-32-pencil-size {
  position: relative;
  width: 32px;
  height: 32px;
}

.icon-32-pencil-subtract {
  position: absolute;
  inset: 17.53% 18.39% 17.53% 16.67%;
}

.icon-32-pencil-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
