/* Icon icon/link, chain from Figma UI kit - node-id: 287:4093 */

.icon-32-link {
  position: relative;
  width: 32px;
  height: 32px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-32-link-size {
  position: relative;
  width: 32px;
  height: 32px;
}

.icon-32-link-vector {
  position: absolute;
  inset: 12.5%;
}

.icon-32-link-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
