/* Icon icon/reload from Figma UI kit - node-id: 287:4103 */

.icon-16-reload {
  position: relative;
  width: 16px;
  height: 16px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-16-reload-size {
  position: relative;
  width: 16px;
  height: 16px;
}

.icon-16-reload-size {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-16-reload-svg {
  display: block;
  width: 16px;
  height: 16px;
  color: inherit;
}
