/* Icon icon/trash, bin, delete from Figma UI kit - node-id: 287:4098 */

.icon-16-trash {
  position: relative;
  width: 16px;
  height: 16px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-16-trash-size {
  position: relative;
  width: 16px;
  height: 16px;
}

.icon-16-trash-size {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-16-trash-svg {
  display: block;
  width: 16px;
  height: 16px;
  color: inherit;
}
