/* Icon icon/link, chain from Figma UI kit - node-id: 287:4093 */

.icon-16-link {
  position: relative;
  width: 16px;
  height: 16px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-16-link-size {
  position: relative;
  width: 16px;
  height: 16px;
}

.icon-16-link-size {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-16-link-svg {
  display: block;
  width: 16px;
  height: 16px;
  color: inherit;
}
