/* Icon icon/check, done from Figma UI kit - node-id: 287:4065 */

.icon-32-check {
  position: relative;
  width: 32px;
  height: 32px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-32-check-size {
  position: relative;
  width: 32px;
  height: 32px;
}

.icon-32-check-vector {
  position: absolute;
  inset: 24.9% 16.26% 22.92% 16.26%;
}

.icon-32-check-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
