/* Icon icon/cloud from Figma UI kit - node-id: 287:4010 */

.icon-32-cloud {
  position: relative;
  width: 32px;
  height: 32px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-32-cloud-size {
  position: relative;
  width: 32px;
  height: 32px;
}

.icon-32-cloud-vector {
  position: absolute;
  inset: 17.71% 1.04%;
}

.icon-32-cloud-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
