/* Icon icon/plus from Figma UI kit - node-id: 287:4053 */

.icon-32-plus {
  position: relative;
  width: 32px;
  height: 32px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-32-plus-size {
  position: relative;
  width: 32px;
  height: 32px;
}

.icon-32-plus-union {
  position: absolute;
  inset: 16.67%;
}

.icon-32-plus-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
