/* Icon icon/cloud from Figma UI kit - node-id: 287:4010 */

.icon-16-cloud {
  position: relative;
  width: 16px;
  height: 16px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-16-cloud-size {
  position: relative;
  width: 16px;
  height: 16px;
}

.icon-16-cloud-size {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-16-cloud-svg {
  display: block;
  width: 16px;
  height: 16px;
  color: inherit;
}
