/* Icon icon/trash, bin, delete from Figma UI kit - node-id: 287:4098 */

.icon-24-trash {
  position: relative;
  width: 24px;
  height: 24px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-24-trash-size {
  position: relative;
  width: 24px;
  height: 24px;
}

.icon-24-trash-union {
  position: absolute;
  inset: 8.33% 12.5%;
}

.icon-24-trash-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
