/* Icon icon/delete, cross, circle from Figma UI kit - node-id: 287:4113 */

.icon-24-delete-circle {
  position: relative;
  width: 24px;
  height: 24px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-24-delete-circle-size {
  position: relative;
  width: 24px;
  height: 24px;
}

.icon-24-delete-circle-subtract {
  position: absolute;
  inset: 21.88%;
}

.icon-24-delete-circle-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
