/* Icon icon/minus from Figma UI kit - node-id: 287:4060 */

.icon-16-minus {
  position: relative;
  width: 16px;
  height: 16px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-16-minus-size {
  position: relative;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-16-minus-svg {
  display: block;
  width: 16px;
  height: 16px;
  color: inherit;
}
