/* Icon icon/cloud from Figma UI kit - node-id: 287:4010 */

.icon-24-cloud {
  position: relative;
  width: 24px;
  height: 24px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-24-cloud-size {
  position: relative;
  width: 24px;
  height: 24px;
}

.icon-24-cloud-vector {
  position: absolute;
  inset: 17.71% 1.04%;
}

.icon-24-cloud-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
