/* Icon icon/arrow-left from Figma UI kit - node-id: 287:4081 */

.icon-32-arrow-left {
  position: relative;
  width: 32px;
  height: 32px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-32-arrow-left-size {
  position: relative;
  width: 32px;
  height: 32px;
}

.icon-32-arrow-left-container {
  position: absolute;
  inset: 20.83% 12.6% 20.83% 12.4%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scaleY(-1) rotate(180deg);
  width: 24px;
  height: 18.667px;
}

.icon-32-arrow-left-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
