/* Icon icon/kebab, menu, more from Figma UI kit - node-id: 287:4070 */

.icon-24-kebab {
  position: relative;
  width: 24px;
  height: 24px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-24-kebab-size {
  position: relative;
  width: 24px;
  height: 24px;
}

.icon-24-kebab-union {
  position: absolute;
  inset: 41.67% 12.5%;
}

.icon-24-kebab-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
