/* Icon icon/arrow-right from Figma UI kit - node-id: 287:4086 */

.icon-16-arrow-right {
  position: relative;
  width: 16px;
  height: 16px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-16-arrow-right-size {
  position: relative;
  width: 16px;
  height: 16px;
}

.icon-16-arrow-right-size {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-16-arrow-right-svg {
  display: block;
  width: 16px;
  height: 16px;
  color: inherit;
}
