/* Icon icon/delete, cross, circle from Figma UI kit - node-id: 287:4113 */

.icon-16-delete-circle {
  position: relative;
  width: 16px;
  height: 16px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-16-delete-circle-size {
  position: relative;
  width: 16px;
  height: 16px;
}

.icon-16-delete-circle-size {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-16-delete-circle-svg {
  display: block;
  width: 16px;
  height: 16px;
  color: inherit;
}
