/* Icon 24/drag from Figma UI kit - node-id: 282:2062 */

.icon-24-drag {
  position: relative;
  width: 24px;
  height: 24px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-24-drag-vector {
  position: absolute;
  bottom: 12.5%;
  left: 12.5%;
  right: 12.5%;
  top: 52.08%;
  padding: 4.16% 3.93%;
}

.icon-24-drag-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
