/* Icon icon/loading from Figma UI kit - node-id: 287:4019 */

.icon-32-loading {
  position: relative;
  width: 32px;
  height: 32px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-32-loading-size {
  position: relative;
  width: 32px;
  height: 32px;
}

.icon-32-loading-union {
  position: absolute;
  inset: 12.5% 15% 15% 12.5%;
}

.icon-32-loading-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
