/* Icon icon/minus from Figma UI kit - node-id: 287:4060 */

.icon-32-minus {
  position: relative;
  width: 32px;
  height: 32px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-32-minus-size {
  position: relative;
  width: 32px;
  height: 32px;
}

.icon-32-minus-union {
  position: absolute;
  inset: 43.75% 16.67%;
}

.icon-32-minus-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
