/* Icon icon/cross, delete from Figma UI kit - node-id: 287:4108 */

.icon-24-cross {
  position: relative;
  width: 24px;
  height: 24px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-24-cross-size {
  position: relative;
  width: 24px;
  height: 24px;
}

.icon-24-cross-union {
  position: absolute;
  left: 20.83%;
  right: 20.83%;
  top: 50%;
  transform: translateY(-50%);
  aspect-ratio: 1;
}

.icon-24-cross-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
