/* Icon icon/reload from Figma UI kit - node-id: 287:4103 */

.icon-32-reload {
  position: relative;
  width: 32px;
  height: 32px;
  transform: scale(1);
  transition: transform 0.2s;
}

.icon-32-reload-size {
  position: relative;
  width: 32px;
  height: 32px;
}

.icon-32-reload-union {
  position: absolute;
  inset: 7.75% 13.78% 12.5% 12.5%;
}

.icon-32-reload-image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
